    <html>
	<head>
            <title>Ucchoi's blog</title>
        </head>
		<body>
		<div>
                <h1><a href="">큰물길의 테스트용 블로그</a></h1>
            </div>

            <div>
                <p>published: 2017.01.10, 15:27</p>
                <h2><a href="">My first post</a></h2>
                <p>템플릿이란 서로 다른 정보를 일정한 형태로 표시하기 위해 재사용 가능한 파일이예요. 예를 들면 편지를 쓸때도 템플릿을 사용할 수 있어요. 편지의 내용이나 수신인 주소는 달라져도 동일한 디자인, 레이아웃을 사용하는 경우가 있으니까요.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>HTML은 크롬이나 파이어폭스, 사파리같은 웹브라우저가 해석할 수 있는 간단한 코드예요. 사용자에게 웹페이지를 표시할 때 사용해요.

HTML은 "HyperText Markup Language"의 줄인 말입니다. 하이퍼텍스트(HyperText) 는 텍스트인데 페이지간에 하이퍼링크를 담을 수 있다는 뜻이예요. 마크업(Markup) 이란 누군가에게(여기서는 브라우저) 문서를 해석하는 방법을 표시(mark)를 했다는 뜻이에요. HTML 코드는 태그(tag) 들로 이루어져있어요. 태그는 < 로 시작하고 >로 끝나요. 이런 태그들은 마크업 요소(elements) 를 나타냅니다.</p>
            </div>
        <p>Hi there! 장고를 이용해서 만든 첫번째 패이지!</p>
        <p>It works! 이게 보이면 아주 잘 따라 한 것이니 축하!!</p>
		<p>html 파일을 utf-8로 코딩하지 않으면 이 한글 페이지가 보이질 않고 에러가 발생한다.</p>
		</body>
    </html>